<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="Contentful">
  <link rel="stylesheet" href="/style/main.css?v=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <h1>
    {{#if data.fields.heading}}
      <h1>{{data.fields.heading}}</h1>
    {{/if}}
    {{#if data.fields.sub_heading}}
      <h2>{{data.fields.sub_heading}}</h2>
    {{/if}}
    {{#if data.fields.content}}
      {{data.fields.content}}
    {{/if}}
  </h1>
</body>
</html>
