<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="Contentful">
</head>
<body>
  <h1>
    {{#if data.fields.heading}}
      <h1>{{data.fields.heading}}</h1>
    {{/if}}
    {{#if data.fields.subHeading}}
      <h2>{{data.fields.subHeading}}</h2>
    {{/if}}
    {{#if data.fields.content}}
        <div class="panel__content" data-markdown>{{data.fields.content}}</div>
    {{/if}}
  </h1>
</body>
</html>
